<?xml version="1.0" ?>
<config>
    <modules>
        <DS_Emails>
            <version>0.0.1</version>
        </DS_Emails>
    </modules>
    <admin>
        <routers>
            <dsemails_admin>
                <use>admin</use>
                <args>
                    <module>DS_Emails</module>
                    <frontName>dsemails_admin</frontName>
                </args>
            </dsemails_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <dsemails module="dsemails">
                <title>Emails</title>
                <sort_order>77</sort_order>
                <action>dsemails_admin/adminhtml_emails</action>
            </dsemails>
        </menu>
    </adminhtml>
	<frontend>
	<layout>
            <updates>
                <dsemails>
                    <file>ds_emails.xml</file>
                </dsemails>
            </updates>
        </layout>
        <routers>
            <dsemails>
                <use>standard</use>
                <args>
                    <module>DS_Emails</module>
                    <frontName>emails</frontName>
                </args>
            </dsemails>
        </routers>
    </frontend>
	<global>
        <helpers>
            <dsemails>
                <class>DS_Emails_Helper</class>
            </dsemails>
        </helpers>
        <blocks>
            <dsemails>
                <class>DS_Emails_Block</class>
            </dsemails>
        </blocks>
	<models>
            <dsemails>
			<class>DS_Emails_Model</class>
                <resourceModel>dsemails_resource</resourceModel>
            </dsemails>
            <dsemails_resource>
			<class>DS_Emails_Model_Resource</class>
                <entities>
                    <table_emails>
                        <table>ds_emails_test</table>
                    </table_emails>
                </entities>
            </dsemails_resource>
        </models>
        <resources>
            <dsemails_setup>
                <setup>
                    <module>DS_Emails</module>
                </setup>
            </dsemails_setup>
        </resources>
    </global>
</config>